////////
//FONT

$default-font: 'Open Sans', sans-serif;



////COLOR

$default-font-color: rgb(133, 133, 133);

$color-dark: rgb(32, 32, 30);

$color-secondary-light: #CD790B;

$color-white: #ffffff;



////SHADOW


$shadow: 0 1rem .5rem rgba(#080808, .9);