.header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
    justify-items: center;

    
    background-size: cover;
    background-position: center;
    


    &__logo {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            width: 21rem;
            background-color: $color-white;
            border-radius: 2px;
            box-shadow: $shadow;
            transform: translateY(-1.7rem);     
    }

    &__cta {
        transform: translateY(-7.3px);
    }

    &--home {
        background-image: url('../img/home.jpg');
    }

    &--menu {
        background-image: url('../img/menu.jpg');
    }
    


}

