.home__main {
    display: flex;
    flex-direction: column;

//////////////////////////////////////
////// HOME INTRODUCTION
    &__intro {
        margin-top: $gutter-vertical-big;
        margin-bottom: $gutter-vertical-md;

        & > * {
            @include small-text-font;
            color: $default-font-color;
            font-family:  Times, serif;
          

            &:not(:last-child) {
                margin-bottom: $gutter-vertical-sm;
            }
        }
    }

//////////////////////////////////////
////// CHEF SECTION

    &__chef {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $gutter-vertical-big;
      


        & > * {
            display:flex;
            justify-content: center;
            align-items: center;
        }

        &__img {
            width: 40rem;
            object-fit: cover;
        }

        &__text {
            padding: 0 2rem;
            max-width: 50%;
            display: flex;
            flex-direction: column;


            & div:last-child {
                @include small-text-font;
                margin-top: $gutter-vertical-xs;
                font-family: Times, serif;
                color : $default-font-color;
                
            }
            

            &--reverse-position {
                order: -1;
            }
        }

        &--2 div .heading-secondary{
            align-self: flex-end;
        }

    }
}

//////////////////////////////////////
////// FEATURES SECTION

.home__features {
    display: flex;
    justify-content: center;
    margin-bottom: $gutter-vertical-md;
   
    

    & > * {
        margin: 0 1rem;
        
    }
}

.home__feature {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 24.5rem;

    &__img {
        height: 15rem;  
        object-fit: cover;
    }

    &__title {
        margin: 2rem 0;
       

        &::before,
        &::after {
            content: '';
            display: block;
            width: 70%;
            height: 1px;
            background-color: $color-secondary-light;
            transform: translateX(15%);
        }
    }

    &__content {
        @include small-text-font;
        font-family: Times, serif;
        color: $default-font-color;
        padding: 0 1.5rem;
       
    }

}

