.nav {

    &__list {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $gutter-vertical-sm 0;
        margin: $gutter-vertical-md 0;
    }

    &__items {
        font-size: 1.7rem;
        font-weight: 800;
        line-height: 2.1rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-secondary-light;
        
    }
}

