.title {

    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
        margin: 0 1rem;
    }

    &__main {

        &::before,
        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            background-color: $color-secondary-light;
            margin: 2rem 0;
        }

    }



}