.menu-container {
    display: grid;
    grid-template-rows: 38.5rem max-content max-content max-content;
    grid-template-columns: 
    [left-side-blank-start] 2rem [left-side-blank-end
        full-start] 15rem 
        [center-start] repeat(2, [col-start] minmax(min-content, 1fr) [col-end])
        [center-end] 15rem [full-end 
    right-side-blank-start] 2rem [right-side-blank-end];
}

